.btn {
  display: flex;
  gap: .6rem;
  align-items: center;
  padding: .6rem .5rem;
  border-radius: .5rem;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #0f203a;
  text-decoration: none;
}

.defaultBtn {
  color: #0f203a;
  background-color: transparent;
}

.primaryBtn {
  color: white;
  background-color: #0f203a;
}