*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

input {
  display: block;
  width: 100%;
  border: none;
}

ul {
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

button {
  display: block;
  font-size: 16px;
  background-image: none;
  background-color: white;
  border: none;
  cursor: pointer;
}

#root {
  height: 100%;
  height: 1000px; /* remove this */
  isolation: isolate;
}

/* Theming */
.react-flow {
  border-bottom-right-radius: .6rem;
  border-top-right-radius: .6rem;
}
/* /Theming */

.state-1 {
  position: fixed;
}